<section>
    <div class="title">
        FAQ's
        <img src="../../assets/images/Layer_1.png" />
    </div>

    <div class="container">
        <div class="left-questions">
            <div class="question1">
                <button class="question-left">
                    What is ToeknsMarketCap ?
                </button>
                <div class="answer-left">
                    <div class="line-left"></div>
                    As of now, Retik Finance (RETIK) is in its presale phase,
                    which means it is not <br>yet available on traditional cryptocurrency exchanges or DeFi platforms
                    like <br>Uniswap. Beware of potential scams using Retik's name.
                </div>
            </div>

            <div class="question2">
                <button class="question-left">
                    When and Where will i receive my TMC token ?
                </button>
                <div class="answer-left">
                    <div class="line-left"></div>
                    <!-- TEXT HERE -->
                </div>
            </div>

            <div class="question3">
                <button class="question-left">
                    How Can I buy TMC and where?
                </button>
                <div class="answer-left">
                    <div class="line-left"></div>
                    <!-- TEXT HERE  -->
                </div>
            </div>
        </div>
        <div class="separation">
            <div class="bar"></div>
            <div class="ellipse"></div>
        </div>
        <div class="right-questions">
            <div class="question4">
                <button class="question-right">
                    What is TMC token ?
                </button>
                <div class="answer-right">
                    <div class="line-right"></div>
                    As of now, Retik Finance (RETIK) is in its presale phase,
                    which means it is not <br>yet available on traditional cryptocurrency exchanges or DeFi platforms
                    like <br>Uniswap. Beware of potential scams using Retik's name.
                </div>
            </div>

            <div class="question5">
                <button class="question-right">
                    How Many Presale stages are there ?
                </button>
                <div class="answer-right">
                    <div class="line-right"></div>
                    <!-- TEXT HERE -->
                </div>
            </div>

            <div class="question6">
                <button class="question-right">
                    How many cost TMC ?
                </button>
                <div class="answer-right">
                    <div class="line-right"></div>
                    <!-- TEXT HERE  -->
                </div>
            </div>
        </div>
    </div>
</section>