<section id="about">
    <div class="text-container">
        <div class="title">
            <span class="line1">What's</span>
            <span class="line2">
                <br>TMC Token
                <img src="../../../assets/images/Layer_2.png" />
            </span>
        </div>
        <div class="paragraphe">
            <p>
                TMC Token in an ERC20 Vote token created by TokensMarketCap that rule the entire<br> platform from its
                utility
                that is not limited to. Innovates with giving access to the major of<br> our platforms such the new DAO
                mechanism, the academy, the market analysis, AI terminal <br>and more…
            </p>
            <br>

            <p>
                Holding TMC is incentive for staking rewards, NFT trading fees discount, Platforms access <br>fees
                discounts,
                listing fees discount, advertising fees discount, DEX trading discount, B2B <br>and C2C as well B2C
                listing and
                commission fees discounts, Social-FI and Game-FI access<br> and discounts.
            </p>
        </div>
    </div>

    <div class="right-container">
        <img src="../../assets/images/about-img.png" alt="">
        <div class="timer">
            <div class="timer-value">
                <span class="number">30&nbsp;</span>
                <span class="letter">D&nbsp;</span>
                <span class="separation">:&nbsp;</span>
                <span class="number">24&nbsp;</span>
                <span class="letter">H&nbsp;</span>
                <span class="separation">:&nbsp;</span>
                <span class="number">60&nbsp;</span>
                <span class="letter">M&nbsp;</span>
                <span class="separation">:&nbsp;</span>
                <span class="number">22&nbsp;</span>
                <span class="letter">S</span>
            </div>
        </div>
    </div>
</section>