<section id="ecosystem">
    <div class="title-container">
        <div class="title">
            <span>Token&nbsp;</span>Ecosystem
        </div>
        <img src="../../assets/images/Layer_1.png" alt="">
    </div>

    <div class="container">
        <div class="gouvernance">
            <div class="logo">
                <img src="../../assets/images/gouvernance.png" alt="">
            </div>
            <span>GOUVERNANCE</span>
            <p>
                Innovative secured mechanism by A SECURED approach,
                prevents investors, traders, users money lost as well we not be collated by enemies.
            </p>
        </div>
        <div class="academy">
            <div class="logo">
                <img src="../../assets/images/academy.png" alt="">
            </div>
            <span>ACADEMY</span>
            <p>
                E-Learning Academy for diverse learning levels providescomprehensive tutorials & certifications.
                It's the platform where users can share their expertise, earn tokens,
                NFT badges as rewards, empire their knowledge and skills and participation in DAO.
            </p>
        </div>
        <div class="dex">
            <div class="logo">
                <img src="../../assets/images/dex.png" alt="">
            </div>
            <span>DEX</span>
            <p>
                Decentralized exchange characterized with AMM integration and AI to prevent any scam
                projects to be listed after a carefull background check through our innovative program and model.
            </p>
        </div>
        <div class="wallet">
            <div class="logo">
                <img src="../../assets/images/wallet.png" alt="">
            </div>
        <span>WALLET</span>
            <p>
                Perfectly suited for affortlessly managing a wide array of digital assets.
                Our wallet caters to the needs of a diverse portfolio, 
                tracking their peprformance through portfolio view analysis in a user-friendly interface.
            </p>
        </div>
    </div>
</section>