section {
    margin-top: 25vw;
    margin-bottom: 10vw;
    padding: 1vw;
    
}

.container{
    position: relative;
    width: 75vw;
    height: 35vw;
    left: 2vw;
    border-radius: 50px;
    border: 1px 0px 0px 0px;
    background: linear-gradient(42.09deg, rgba(26, 27, 35, 0.7) 7.06%, rgba(46, 48, 68, 0.7) 93.69%);
    border: 1px solid rgba(255, 255, 255, 0.36)
}

.title {
    position: relative;
    width: 100%;
    font-family: "Audiowide", sans-serif;
    font-size: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;


    img {
        position: relative;
        width: 20vw;
        left: 30vw;
        top: -1vw;
    }
}

form {
    position: relative;
    display: flex;
    flex-direction: column;

    .first-inputs {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 7vw;

        div {
            position: relative;
            width: 30vw;
            height: 3.5vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background: linear-gradient(90deg, #404848 100%, rgba(173, 173, 173, 0.53) 92.13%);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px 20px 10px 20px;
            transform: skewX(-35deg);
            margin-top: 1vw;
            margin-right: 5vw;

            input {
                padding: 1vw;
                width: 20vw;
                background-color: transparent;
                border: transparent;
                transform: skewX(35deg);
                outline: transparent;
                color: white;
                font-family: "TT Commons", sans-serif;
            }

            input::placeholder {
                font-family: "TT Commons", sans-serif;
            }

            img {
                padding: 1vw;
                margin-left: 1vw;
                width: 1.5vw;
                height: 1.5vw;
                transform: skewX(35deg);
                margin-right: 1vw;
            }
        }
    }

    .second-input {
        position: relative;
        width: 65vw;
        height: 3.5vw;
        left: 6vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: linear-gradient(90deg, #404848 100%, rgba(173, 173, 173, 0.53) 92.13%);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px 20px 10px 20px;
        transform: skewX(-35deg);
        margin-top: 1vw;

        input {
            padding: 1vw;
            width: 55vw;
            background-color: transparent;
            border: transparent;
            transform: skewX(35deg);
            outline: transparent;
            color: white;
            font-family: "TT Commons", sans-serif;
        }

        input::placeholder {
            font-family: "TT Commons", sans-serif;
        }

        img {
            padding: 1vw;
            margin-left: 1vw;
            width: 1.5vw;
            height: 1.5vw;
            transform: skewX(35deg);
            margin-right: 1vw;
        }
    }

    .third-input {
        position: relative;
        width: 65vw;
        height: 7vw;
        left: 4.5vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: linear-gradient(90deg, #404848 100%, rgba(173, 173, 173, 0.53) 92.13%);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px 20px 10px 20px;
        transform: skewX(-35deg);
        margin-top: 1vw;

        textarea {
            padding: 1vw;
            width: 55vw;
            background-color: transparent;
            border: transparent;
            transform: skewX(35deg);
            outline: transparent;
            color: white;
            font-family: "TT Commons", sans-serif;
        }

        img {
            padding: 1vw;
            margin-left: 1vw;
            width: 1.5vw;
            height: 1.5vw;
            transform: skewX(35deg);
            margin-right: 2.2vw;
        }
    }

    .submit-btn {
        position: relative;
        font-family: Audiowide;
        font-size: 1.5vw;
        text-align: center;
        width: 15vw;
        height: 4vw;
        top: 2vw;
        left: 30vw;
        padding: 0 20px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(90deg, #39C5C6 16.01%, #F55396 85%);
        color: rgba(255, 255, 255, 1);
    }
}