<section id="airdrop">
    <div class="title">
        <span class="span1">Token</span>
        And NFTs Airdrops
        <div>
            Exclusive Airdrops Serve You In
        </div>
        <div>
            <span class="span2">Our Ecosystem</span>
            <span class="span3">Start</span>
            Now
        </div>
    </div>
    <img src="../../assets/images/Airdrop.png" alt="">
    <button (click)="showPopup()">Join the community for Airdrop</button>
</section>

<app-connect-wallet *ngIf="popupVisible"></app-connect-wallet>