<section>
    <div class="text-container">
        <span class="line1">Distribution</span>
        <br>
        <span class="line2">
            Total Tokens :
            <span class="line2-2">3,505,000,000</span>
        </span>
    </div>
    <div class="items-container">
        <div class="ellipse11"></div>
        <div class="left-items">
            <div class="item-1">
                <button class="collapsible-left">
                    <figure class="chart-1 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                    <span> Liquidity and listing reserve</span>
                    <img src="../../assets/images/Ellipse 36.png" />
                </button>
                <div class="description-left">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-1">385,550,000</div>
            <div class="item-2">
                <button class="collapsible-left">
                    <figure class="chart-2 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                    <span> Sale</span>
                    <img src="../../assets/images/Ellipse 36.png" />
                </button>
                <div class="description-left">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-2">1,051,500,000</div>
            <div class="item-3">
                <button class="collapsible-left">
                    <figure class="chart-3 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                    <span> Ecosystem and Development</span>
                    <img src="../../assets/images/Ellipse 36.png" />
                    </button>
                    <div class="description-left">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-3">876,250,000</div>
            <div class="item-4">
                <button class="collapsible-left">
                    <figure class="chart-4 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                    <span> Partner & Advisors</span>
                    <img src="../../assets/images/Ellipse 36.png" />
                </button>
                <div class="description-left">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-4">455,650,000</div>
        </div>
        <img src="../../assets/images/img-5.png" />
        <div class="ellipse"></div>
        <div class="ellipse2"></div>
        <div class="container">
            <div class="item-5">
                <button class="collapsible-right">
                    <img src="../../assets/images/Ellipse 36.png" />
                    <span> Marketing & Partnership</span>
                    <figure class="chart-5 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                </button>
                <div class="description-right">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-5">140,200,000</div>
            <div class="item-6">
                <button class="collapsible-right">
                    <img src="../../assets/images/Ellipse 36.png" />
                    <span> Team</span>
                    <figure class="chart-6 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                </button>
                <div class="description-right">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-6">245,350,000</div>
            <div class="item-7">
                <button class="collapsible-right">
                    <img src="../../assets/images/Ellipse 36.png" />
                    <span> Incentives</span>
                    <figure class="chart-7 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                </button>
                <div class="description-right">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-7">210,300,000</div>
            <div class="item-8">
                <button class="collapsible-right">
                    <img src="../../assets/images/Ellipse 36.png" />
                    <span> Treasury cashback reserve & Academy incentives</span>
                    <figure class="chart-8 animate">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-background" />
                            <circle class="circle-foreground" />
                        </svg>
                        <figcaption></figcaption>
                    </figure>
                </button>
                <div class="description-right">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </div>
            </div>
            <div class="nbr-8">140,200,000</div>
        </div>
        <div class="ellipse12"></div>
    </div>
</section>