* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;

}


body {
  padding: 5% 10% 5% 10%;
  color: #FFFFFF;
  background: #1A1B23;
  line-height: 1.7;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
}

@media screen and (max-width: 768px) {

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2001;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fffbfb;
    transition-duration: .25s;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    opacity: 0.95;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #242323;
    transition-duration: .4s;
    z-index: 2000;

  }

  .menu__item {
    display: block;
    padding: 2vw 30vw;
    color: #ffffff;
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    justify-items: center;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
    color: #1A1B23;
  }
}

@media screen and (min-width:769px) {
  .hamburger-menu {
    display: none;
  }
}