
<section id="#Airdrop">
    <div class="footer">
        <div class="logo-socials-container">
            <div class="tmc">
                <a href="#"><img class="logo" src="../../../assets/images/TMC-noBG 1.png" /></a>
                <a href="#" class="text">Token TMC</a>
            </div>
            <div class="socials">
                <a href="#"><img class="youtube" src="../../../assets/images/youtube (2) 2.png" /></a>
                <a href="#"><img class="insta" src="../../../assets/images/instagram (3) 2.png" /></a>
                <a href="#"><img class="facebook" src="../../../assets/images/facebook (4) 2.png" /></a>
            </div>
        </div>
        <div class="menu-container">
            <h3 class="text">MENU</h3>
            <a href="#">HOME</a>
            <a href="#about">ABOUT US</a>
            <a href="#ecosystem">ECOSYSTEM</a>
            <a href="">DASHBOARD</a>
            <a href="#contact">CONTACT</a>
        </div>
        <div class="contact-container">
            <h3 class="text">CONTACT</h3>
            <div>
                <img src="../../../assets/images/position.png"/>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </div>
            <div>
                <img src="../../../assets/images/phone-call.png"/>
                + 33 25 25 36 98
            </div>
            <div>
                <img src="../../../assets/images/mail.png"/>
                contact&#64;tmctoken.gmail
            </div>
        </div>
    </div>
</section>